[submodule "spacemacs"]
	path = spacemacs
	url = https://github.com/syl20bnr/spacemacs.git
[submodule "packages/anki-mode"]
	path = packages/anki-mode
	url = https://github.com/davidshepherd7/anki-mode.git
[submodule "packages/emacs-ycmd"]
	path = packages/emacs-ycmd
	url = https://github.com/abingham/emacs-ycmd
[submodule "packages/evil-collection"]
	path = packages/evil-collection
	url = https://github.com/emacs-evil/evil-collection.git
[submodule "packages/helpful"]
	path = packages/helpful
	url = https://github.com/Wilfred/helpful.git
[submodule "packages/lispy"]
	path = packages/lispy
	url = https://github.com/abo-abo/lispy.git
[submodule "packages/lispyville-mod"]
	path = packages/lispyville-mod
	url = https://github.com/flnth/lispyville-mod.git
[submodule "packages/emacs-tabbar"]
	path = packages/emacs-tabbar
	url = https://github.com/flnth/emacs-tabbar.git
[submodule "packages/pcache"]
	path = packages/pcache
	url = https://github.com/sigma/pcache.git
[submodule "packages/dired-plus"]
	path = packages/dired-plus
	url = https://github.com/emacsmirror/dired-plus.git
[submodule "packages/emacs-fish-completion"]
	path = packages/emacs-fish-completion
	url = https://gitlab.com/ambrevar/emacs-fish-completion.git
[submodule "packages/german-holidays"]
	path = packages/german-holidays
	url = https://github.com/rudolfochrist/german-holidays.git
[submodule "packages/help-fns-plus"]
	path = packages/help-fns-plus
	url = https://github.com/emacsmirror/help-fns-plus.git
[submodule "packages/lsp-python-ms"]
	path = packages/lsp-python-ms
	url = https://github.com/andrew-christianson/lsp-python-ms.git
[submodule "packages/move-border"]
	path = packages/move-border
	url = https://github.com/ramnes/move-border.git
[submodule "packages/quick-peek"]
	path = packages/quick-peek
	url = https://github.com/cpitclaudel/quick-peek.git
[submodule "packages/redo-plus"]
	path = packages/redo-plus
	url = https://github.com/emacsmirror/redo-plus.git
[submodule "packages/textile-mode"]
	path = packages/textile-mode
	url = https://github.com/juba/textile-mode.git
[submodule "share"]
	path = share
	url = https://efth@bitbucket.org/efth/emacs-share.git
[submodule "packages/mmm-mode"]
	path = packages/mmm-mode
	url = https://github.com/purcell/mmm-mode.git
